{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'rate_movie.html' %}

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static 'movies/css/add_movie.css' %}">
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <br>

  <div class="search-container">
    <form method="POST">
      {% csrf_token %}
      <div class="search-bar">
        <input type="text" name="title" placeholder="Search for a movie title here" required>
        <button type="submit" name="show_movies">Search</button>
      </div>
      <div class="filter-section">
        <label for="year">Year:</label>
        <select name="year">
          <option value="" selected>N/A</option>
          {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>
  <br>

  {% if posters %}
    <div class="poster-container">
      {% for poster in posters %}
      <form method="POST" style="display: inline;">
        {% csrf_token %}
        <button type="submit" name="movie--{{forloop.counter0}}" class="movieButton" data-toggle="modal" data-target="#moviePopup" style="background: none; border: none; padding: 0;">
          <img src="https://image.tmdb.org/t/p/w500/{{poster}}" class="movie_image" alt="movieposter" onerror="this.src='{% static 'movies/img/stock.jpg' %}'">
        </button>
      </form>
      {% endfor %}
    </div>
  {% else %}
    {% if request.method == "POST" %}
      <h1 style="text-align: center; color: white;">No movies found!</h1>
    {% endif %}
  {% endif %}
  

    {% if show_rating_modal %}
    <script>
        $(document).ready(function(){
            $("#moviePopup").modal('show');
            
        });
    </script>
    {% endif %}


{% endblock %}




