
body {
    background-color: #221e1e;
}
  
h1 {
    color: #E0E0E0;
    font-size: 4rem; 
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.2);
}

.custom-body {
    background-color: #221e1e;
}

.card-title-custom {
    color: #E0E0E0;
    font-size: 1.5rem; 
    font-weight: bold; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.custom-title {
    color: #FFFFFF; 
    padding: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.2); 
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100%;
    position: relative;
}

.card-img-top {
    object-fit: cover;
    height: 50%; 
    width: 100%;
    display: block;
    margin-bottom: 10px; 
    border: 2px solid #FFFFFF;
    transition: opacity 0.3s;
    opacity: 1;
    transition: .5s ease;
}

body {
    background-color: #221e1e;
}

.card-text {
    color: #FFFFFF;
}


.card-img-top:hover {
    opacity: 0.3;
  }
  
  .add-movie-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.8);  */
    color: #fff; 
    padding: 8px 12px;
    font-size: 25px;
    border-radius: 5px;
  }
  
  .card-img-top:hover + .add-movie-label {
    display: block;
  }
  
  /* Adjust the width of each gallery item as needed */
.image-gallery-item {
    margin-right: 10px; /* Add some space between gallery items */
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.image-gallery-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* Hide horizontal scrollbar and enable smooth scrolling */
.image-gallery-container {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    position: relative;
    
    /* z-index: 1;  */
}

.gallery-wrapper {
    position: relative; /* Allow for absolute positioning of children elements */
    display: flex;
    align-items: center; /* Center align vertically */
}

.gallery-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    z-index: 2; 
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    height: 75%; /* Stretch the buttons vertically to cover the whole height of the gallery */
    width: 50px; /* Optional, adjust as necessary */
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    font-weight: bold;
    border: none;
    font-size: 16px;
}
.gallery-button:hover {
    background-color: rgba(0, 0, 0, 1); 
}



.gallery-button-left {
    /* Existing styles */
    left: 0;
    border-top-right-radius: 15px; /* Optional rounded corner */
}

.gallery-button-right {
    /* Existing styles */
    right: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
